.container-schedule {
    margin-top: 1rem;
    font-size: 24px;
    letter-spacing: 1px;
    .table-schedule {
        width: 100%;
        overflow-y: scroll;
        overflow-x: visible;
        display: inline-block;

        .schedule-show {
            white-space: nowrap;
            overflow: hidden; 
            background: white;
            margin: 6px;
            padding: 6px;
            border-radius: 12px;
        }
    }
}