<div class="container-schedule">
    <div class="pl-3 pr-3"style="display: flex;justify-content: space-between;">
        <span>กำหนดการนัดหมายต่างๆ</span>
        <i class="bi bi-three-dots"></i>
    </div>
    <!-- <div class="pl-3 pr-3" style="background-size: cover;background-repeat: no-repeat;background-image: url('../../../../../assets/images/icons/home-page-image/pexels-tara-winstead-6690841.jpg')">
    </div> -->
    <table class="table table-schedule">
        <thead>
          <tr class="table-info">
            <th>วันที่</th>
            <th>รายละเอียด</th>
          </tr>
        </thead>
        <tbody style="white-space: nowrap;overflow: hidden;">
          <tr class="table-light">
            <td>23 พ.ย 2566</td>
            <td>หมอนัดถอนฟัน ตอนบ่ายโมง ไปรถแท๊กซี่</td>
          </tr>
          <tr class="table-light">
            <td>16 พ.ค 2566</td>
            <td>ญาตินัด</td>
          </tr>
          <tr class="table-light">
            <td>30 ธ.ค 2566</td>
            <td>หมอนัด ตอนบ่ายโมง ไปรถแท๊กซี่</td>
          </tr>
        </tbody>
      </table>
</div>