.navbar{
    background-color: #6f42c1;
    color: #FFF;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    padding: 0px 12px;
    align-items: center;
    margin: 0;
    a{
        text-align: center;
    }
    // .navbar-brand{
    //     font-size: 18px;
    //     display: flex;
    //     justify-content: space-between;
    //     align-items: center;
    // }
    // .navbar-collapse{
    //     .navbar-nav{
    //        .nav-item{
    //            display: flex;
    //            align-items: center;
    //            font-size: 20px;
    //         //    color: #FFF;
    //         .nav-link{
    //             padding: 6px;
    //             color: #FFF;
    //         }
    //        } 
    //     }
    // }

}