<div class="container-em">
  <button (click)="back()"><i class="bi bi-arrow-left-circle-fill" style="font-size: 48px;color:#6f42c1;"></i></button>
  <div style="text-align: center;"><h2>ข้อมูลบุคลากรและการแบ่งงาน</h2></div>
  <div class="container mt-2 content-em" *ngFor="let dataem of currentEmployee;">
    <div class="list-em" (click)="selectEmployee(dataem)">
      <div class="personImg">
        <i class=" bi bi-person-square"></i>
      </div>
      <div class="media-body">
        <div class="tool-bar">
          <div>{{dataem.employee}}</div>
          <div class="bi bi-pencil-square text-right"></div>
          <div><small>ปฎิบัติงานช่วง 7.30 - 17.30น.</small></div>
        </div>
        <div *ngIf="_selcetEmp === dataem.employee && currentDuies.length > 0">
          <div  class="media" *ngFor="let item of currentDuies;">
            <div class="personImg">
              <i class=" bi bi-person-square"></i>
            </div>
            <div class="media-body">
              <div>{{item}}</div>
              <div><small>ปฎิบัติงานช่วง 7.30 - 17.30น.</small></div>
              <div class="bi bi-pencil-square text-right"></div>
            </div>
          </div>
        </div>
        <div *ngIf="_selcetEmp === dataem.employee && currentDuies.length <= 0">
          <div  class="media" >
            <span>ไม่พบช้อมูล</span>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>