<div class="container-em">
  <!-- <button (click)="back()"><i class="bi bi-arrow-left-circle-fill" style="font-size: 48px;color:#6f42c1;"></i></button> -->
  <app-back-navbar [topicHeader]="_topicHeader"></app-back-navbar>
  <div class="container tools">
    <button (click)="goToCreateUSer()">+ เพิ่มรายชื่อพนักงาน</button>
  </div>
</div>
<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>ชื่อ-นามสกุล</th>
      <th>เบอร์ติดต่อ</th>
      <th>เพศ</th>
      <th>comment</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody *ngFor="let dataem of currentEmployee;">
    <tr>
      <td>0001</td>
      <td>{{dataem.employee}}</td>
      <td>23/01/2545</td>
      <td>ชาย</td>
      <td></td>
      <td><button type="button" class="btn btn-warning">แก้ไข</button></td>
      <td><button type="button" class="btn btn-danger">ลบ</button></td>
    </tr>
  </tbody>
</table>