<div class="container-lg">
  <app-back-navbar [topicHeader] = "_topicHeader"></app-back-navbar>
  <div class="profile-body row">
    <div class="personal-name">
      ชื่อ-นามสกุล
      <div class="personal-show">
        ปัณทัต สมาน
      </div>
    </div>
    <div class="personal-name">
      เบอร์ติดต่อ
      <div class="personal-show">
        098-805-7052
      </div>
    </div>
    <div class="personal-name">
      อายุ
      <div class="personal-show">
        20 ปี
      </div>
    </div>
    <div class="personal-name">
      เริ่มงาน
      <div class="personal-show">
        11/17/2556
      </div>
    </div>
    <div class="personal-name">
      ช่วงเวลา
      <div class="personal-show">
        6.00 > 22.00 น.
      </div>
    </div>
    <!-- <button class="btn btn-primary buttout" (click)="SignOut()">ออกจากระบบ</button> -->
  </div>





  <!-- <div class="profile-body row">
      <table class="table">
        <tbody>
          <tr>
            <td class="text-head">ชื่อ-นามสกุล</td>
            <td>:</td>
            <td>{{_userProfile.name}}</td>
          </tr>
          <tr>
            <td class="text-head">ประเภท</td>
            <td>:</td>
            <td>{{_userProfile.type}}</td>
          </tr>
          <tr>
            <td class="text-head">โรคประจำตัว</td>
            <td>:</td>
            <td>{{_userProfile.disease}}</td>
          </tr>
          <tr>
            <td class="text-head">ญาติ</td>
            <td>:</td>
            <td>{{_userProfile.relative}}</td>
          </tr>
        </tbody>
        <tr>
          <td class="text-head">เบอร์ติดต่อ</td>
          <td>:</td>
          <td>{{_userProfile.telNo}}</td>
        </tr>
      </table>
      <button class="btn btn-primary buttout" (click)="SignOut()">ออกจากระบบ</button>
    </div> -->
</div>