<app-nav-bar [userEmail]="'manager@gmail.com'" [basepath]="pathName"></app-nav-bar>
<div class="tab-insights">
  <div class="alert alert-info">
    <strong>ประกาศ!</strong>ประชาสัมพันธ์ ปี 2024...
  </div>
    <div class="pl-3 pr-3" style="display: flex;justify-content: space-between;font-size: 32px;">
        <span>สร้างงาน</span>
    </div>
    <div class="manager-group p-2">
        <div class="insight-show" (click)="selectTopicMenu('สร้างงานกลุ่ม')" style="background-image: url(./../../../../../assets/images/insights/pexels-bich-tran-636246.jpg);background-size: cover;background-repeat: no-repeat"> 
            <div class="content-title">
                <div class="title" style="text-align: center;">ส่วนรวม</div>
            </div>
        </div>
        <div class="insight-show" (click)="selectTopicMenu('สร้างงานเฉพาะบุคคล')">
            <div class="content-title">
                <div class="title" style="text-align: center;">สร้างงานเฉพาะบุคคล</div>
            </div>
        </div>
    </div>

    <div class="pl-3 pr-3" style="display: flex;justify-content: space-between;font-size: 32px;">
        <span>นิติบุคคล</span>
    </div>
    <div class="Legal-Entity-group p-2">
        <div class="insight-show" (click)="selectTopicMenu('รายชื่อพนักงาน')" style="background-image: url(./../../../../../assets/images/insights/p1.jpg);background-size: cover;background-repeat: no-repeat">
            <div class="content-title">
                <div class="title" style="text-align: center;">รายชื่อพนักงาน</div>
            </div>
        </div>
        <div class="insight-show" (click)="selectTopicMenu('รายชื่อลูกค้า')">
            <div class="content-title">
                <div class="title" style="text-align: center;">รายชื่อลูกค้า</div>
            </div>
        </div>
        <div class="insight-show" (click)="selectTopicMenu('คะแนนสะสม')">
            <div class="content-title">
                <div class="title" style="text-align: center;">คะแนนสะสม</div>
            </div>
        </div>
    </div>
    <!-- <div class="manager-others p-2">
        <div class="insight-show" (click)="selectTopicMenu('สร้างงานเฉพาะบุคคล')">
            <div class="content-title">
                <div class="title" style="text-align: center;">คะแนนสะสม</div>
            </div>
        </div>
    </div> -->
    <div class="pl-3 pr-3" style="display: flex;justify-content: space-between;font-size: 32px;">
        <span>อื่นๆ</span>
    </div>
    <div class="manager-others p-2">
        <div class="insight-show" (click)="selectTopicMenu('กำหนดการต่างๆ')">
            <div class="content-title">
                <div class="title" style="text-align: center;">กำหนดการต่างๆ</div>
            </div>
        </div>
        <div class="insight-show" (click)="selectTopicMenu('รายงาน')">
            <div class="content-title">
                <div class="title" style="text-align: center;">รายงาน</div>
            </div>
        </div>
        <div class="insight-show" (click)="selectTopicMenu('แจ้งเหตุด่วน')">
            <div class="content-title">
                <div class="title" style="text-align: center;">แจ้งเหตุด่วน</div>
            </div>
        </div>
    </div>
    <!-- <div class="health-insights p-2">
            <div *ngFor="let topic of nameTopic;">
                <div style="display: grid;justify-content: center;" (click)="selectTopicMenu(topic)">
                    <img  class="insight-show" [src]="byPass(topic)"
                        style="background-size: cover;background-repeat: no-repeat">
                    <div class="content-title">
                        <div class="title" style="text-align: center;">{{topic}}</div>
                    </div>
                </div>
            </div>
        </div> -->
</div>