<div class="tab-insights">

    <div >
        <div class="pl-3 pr-3" style="display: flex;justify-content: space-between;">
            <span>งานประจำวัน</span>
            <!-- <i class="bi bi-three-dots"></i> -->
        </div>
        <div class="health-insights p-2">
            <div *ngFor="let topic of nameTopic;">
                <div style="display: grid;justify-content: center;" (click)="selectTopicMenu(topic)">
                    <img  class="insight-show" [src]="byPass(topic)"
                        style="background-size: cover;background-repeat: no-repeat">
                    <div class="content-title">
                        <div class="title" style="text-align: center;">{{topic}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div *ngIf="nameSubTopic.length > 0">
        <div (click)="nameSubTopic = []" class="pl-3 pr-3" style="display: flex;justify-content: start;align-items: center;" >
            <div>หน้าหลัก</div> / <div>{{selectTopic}}</div>
        </div>
        <div class="health-insights p-2">
            <div *ngFor="let subtopic of nameSubTopic;">
                <div style="display: grid;justify-content: center;" (click)="onNextPaths()">
                    <img href="/landing/works" class="insight-show" [src]="byPass(subtopic)"
                        style="background-size: cover;background-repeat: no-repeat">
                    <div class="content-title">
                        <div class="title" style="text-align: center;">{{subtopic}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- <div class="health-insights p-2">
        <a href="/landing/works" (click)="onNextPaths('heart rate')" class="insight-show"  style="background-size: cover;background-repeat: no-repeat;background-image: url('../../../../../../assets//images/insights/pexels-bich-tran-636246.jpg')">
            <div class="content-title">
                <div class="title" style="border-bottom: 5px solid rgb(220, 142, 53);">งานวันนี้</div>
            </div>
        </a>
        <a href="/landing/works" class="insight-show" style="background-size: cover;background-repeat: no-repeat;background-image: url('../../../../../../assets//images/insights/pexels-bich-tran-636246.jpg')">
            <div class="content-title">
                <div class="title" style="border-bottom: 5px solid #008e1a;">เบิกของใช้</div>
            </div>
        </a>
        <a href="/landing/works" class="insight-show" style="background-size: cover;background-repeat: no-repeat;background-image: url('../../../../../../assets//images/insights/pexels-bich-tran-636246.jpg')">
            <div class="content-title">
                <div class="title" style="border-bottom: 5px solid #001a8e;">งานนอกสถานที่</div>
            </div>
        </a>
        <a href="/landing/works" class="insight-show" style="background-size: cover;background-repeat: no-repeat;background-image: url('../../../../../../assets//images/insights/pexels-bich-tran-636246.jpg')">
            <div class="content-title">
                <div class="title" style="border-bottom: 5px solid #e83e8c;">รายงาน</div>
            </div>
        </a>
    </div> -->
</div>
<!-- <div class="tab-insights">
    <div class="pl-3 pr-3" style="display: flex;justify-content: space-between;">
        <span>อื่นๆ</span>
        <i class="bi bi-three-dots"></i>
    </div>
    <div class="health-insights p-2">
        <div (click)="onNextPaths('daily food')" class="insight-show" style="background-size: cover;background-repeat: no-repeat;background-image: url('../../../../../../../assets/images/icons/home-page-image/aade08b106b96275952b991b874760d6.jpg')">
            <div class="content-title">
                <div class="title" style="border-bottom: 5px solid #ffc107;">กำหนดการ</div>
            </div>
        </div>
        <div (click)="onNextPaths('cleaning work')" class="insight-show" style="background-size: cover;background-repeat: no-repeat;background-image: url('../../../../../../../assets/images/icons/home-page-image/TescoLotus-Tile4-1200x768.jpg')">
            <div class="content-title">
                <div class="title" style="border-bottom: 5px solid #07a4ff;">งานทำความสะอาด</div>
            </div>
        </div>
    </div>
</div> -->