<div class="container-em">
  <app-back-navbar [topicHeader]="_topicHeader"></app-back-navbar>
</div>
  <!-- Modal body -->
    <div class="modal-body">
      <div class="container">
        <!-- <h3>ข้อมูลพนักงาน</h3> -->
        <form action="/action_page.php">
          <div class="form-group">
            <label for="name">ชื่อ-นามสกุล :</label>
            <input type="text" class="form-control" id="text" placeholder="ชื่อ-นามสกุล">
            <label for="name">เบอร์ติดต่อ :</label>
            <input type="text" class="form-control" id="text" placeholder="09X-XXX-XXXX">
            <label for="name">รูปถ่าย :</label>
            <script>
              // Add the following code if you want the name of the file appear on select
              $(".custom-file-input").on("change", function () {
                var fileName = $(this).val().split("\\").pop();
                $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
              });
              </script>
            <div class="custom-file mb-3">
              <input type="file" class="custom-file-input" id="customFile" name="filename">
              <label class="custom-file-label" for="customFile">Choose file</label>
            </div>
            <label for="employeeId">วันเกิด :</label>
            <input type="date" class="form-control" id="DateOfBirth" placeholder="--/--/----">
            <label for="name">เพศ :</label>
            <div class="form-check">
              <label class="form-check-label" for="radio1">
                <input type="radio" class="form-check-input" id="radio1" name="optradio" value="option1" checked>ชาย
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label" for="radio2">
                <input type="radio" class="form-check-input" id="radio2" name="optradio" value="option2">หญิง
              </label>
            </div>
            <br>
            <label for="employeeId">รหัสพนักงาน :</label>
            <input type="text" class="form-control" id="employeeId" placeholder="employeeId">
            <label for="pass1">สร้างรหัสผ่าน :</label>
            <input type="password" class="form-control" id="pass1" placeholder="******">
            <label for="pass2">ยืนยันรหัสผ่าน :</label>
            <input type="password" class="form-control" id="pass2" placeholder="******">
            <label for="comment">Comment :</label>
            <textarea class="form-control" rows="5" id="comment"></textarea>
          </div>
        </form>
      </div>
    </div>
  
    <!-- Modal footer -->
    <div class="modal-footer" style="display: flex;justify-content: right;">
      <!-- <button type="button" class="btn btn-danger" data-dismiss="modal">ยกเลิก</button> -->
      <button type="button" class="btn btn-success" data-dismiss="modal">ยืนยัน</button>
    </div>