.select-option {
    display: grid;
    grid-template-columns: 50% 50%;
    button{
        margin: 12px;
        padding: 12px;
        font-size: 24px;
        font-family: cursive;
        border-radius: 30px;
        border: navajowhite;
    }
    button:hover{
        scale: 1.1;
        background-color: green;
        color: #FFF;
    }
}
.select-Temp{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    button{
        margin: 12px;
        padding: 12px;
        font-size: 24px;
        font-family: cursive;
        border-radius: 30px;
        border: navajowhite;
    }
    button:hover{
        scale: 1.1;
        background-color: green;
        color: #FFF;
    }
}
span{
    font-size: 18px;
    font-family: cursive;

}