@font-face {
    font-family: 'db_heavent_regular';
    src: url('../assets/scss/fonts/DB_Heavent_Cond_v3.2.ttf');
    font-weight: normal;
    font-style: normal; 
  }

  .main{
    font-family: 'db_heavent_regular';
    src: url('../assets/scss/fonts/DB_Heavent_Cond_v3.2.ttf');
    font-weight: normal;
    font-style: normal;     zoom: reset; /* สามารถเปลี่ยนเป็นค่าอื่น ๆ เพื่อป้องกันการซูมเข้า */
    touch-action: none; /* ป้องกันการสัมผัสหน้าจอที่สามารถซูมเข้า */
    position: relative;
  }