<div class="select-option">
    <!-- <button (click)="queryFireStore()">queryFireStore</button>
    <button (click)="querySigle()">querySigle</button> -->
    <!-- <button (click)="create()">create</button> -->
    <!-- <button (click)="addDoc()">addDoc</button> -->
    <!-- <button (click)="addDocData()">addDocData</button> -->
    <button (click)="createObject()">createObject</button>
    <button (click)="deleteDoc()">delete</button>
    <button (click)="updatePushData()">updatePushData</button>
    <button (click)="updateDeleteObject()">updateDeleteObject</button>
    <!-- <button (click)="updateDataDoc()">updateDataDoc</button> -->
</div>
<code id="json" >
    <h1 *ngIf="querySigleObject">NGFOR querySigleObject</h1>
    {{querySigleObject}}
</code>
<div>
    <h1>NGFOR</h1>
    <div *ngFor="let item of dataYear;">
        <div style="margin: 8px;padding: 8px;">
            {{item|json}}
        </div>
    </div>
</div>
<h1>dataVitalSign</h1>
<button (click)="updatePushData()">ADD DATA</button>
<button (click)="updateDeleteAll()">Delete All</button>
<!-- <div *ngIf="dataVitalSign"> -->
    <div class="select-Temp" *ngFor="let data of dataVitalSign;index as i">
        <button (click)="updateDeleteObject(i)">{{i+1}} . {{data.temp}}</button>
        <div>{{data.date}}</div>
        <div>{{data?.data}}</div>
    </div>
<!-- </div> -->
<!-- <pre> {{ JSON.stringify(todos, null, 4)}}</pre> -->
