<!-- <app-loading-service *ngIf="timeOutLoading === false" (timeOutLoading)="loading($event)"></app-loading-service> -->
<div class="containers">
    <div class="headers">
        <div class="butBack">
            <a  (click)="href('/signin-page')" class="bi bi-arrow-left" style="cursor: pointer;color: black;">            
                <!-- <a rel="stylesheet" href="/signin-page" ></a> -->
            </a>
        </div>
        <div>Forgot Password</div>
        <div class="title-header">Select which methods you’d like to reset. </div>
    </div>
    <div class="send-option">
        <div class="option">
            <div class="icon">
                <i class="bi bi-envelope-at-fill"></i>
            </div>
            <div class="title-option">
                <div><b>Email Address Ver 2.7.7</b></div>
                <div>Send via email address securely.</div>
            </div>
        </div>
    </div>
    <form class="form-group text-left" #userName="ngForm" (ngSubmit)="forget(userName.value)">
    <span class="text"><i class="bi bi-envelope-at"></i>Email Address</span><br>
    <input #email type="email" name="email" placeholder="email" ngModel>
    <div class="butReset"    [ngClass]="{'butReset-dis': !userName.value.email}"    >
        <button [disabled]="!userName.value.email" type="submit" >Reset Password<i class="bi bi-arrow-right"></i></button>
    </div>
    </form>
    <div style="color: red;">
        <!-- <h2>{{errorCode}}</h2> -->
        <h2>{{errorMessage}}</h2>
    </div>
</div>