.containers {
    padding: 0px;
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: #F5F5F5;
    // display: grid;
    text-align: center;

    .butBack {
        color: #2F3C33;
        font-size: 28px;
        border: 1px solid #2F3C33;
        border-radius: 18px;
        height: 45px;
        width: 45px;
        margin: 15px;
        display: grid;
        justify-content: center;
        align-items: center;
    }

    .headers {
        color: #2F3C33;
        font-size: 32px;
        font-weight: 800;
        line-height: 44px;
        letter-spacing: -0.03em;
        text-align: left;
        padding: 16px;
        .title-header {
            color: #647067;
            font-size: 16px;
            font-weight: 400;
            line-height: 26px;
            letter-spacing: -0.01em;
            margin-top: 10px;
        }
    }

    .send-option{
        margin: 8px;
        .option{
            cursor: pointer;
            display: flex;
            justify-content: left;
            align-items: center;
            box-shadow: 10px 10px 18px rgb(33, 34, 33);
            .icon{
                height: 65px;
                width: 65px;
                background: #F5F5F5;
                margin: 16px;
                border-radius: 18px;
                display: grid;
                justify-content: center;
                align-items: center;
                i{
                    font-size: 32px;
                    color: #647067;
                    cursor: pointer;
                }
                .title-option{
                    font-size: 24px;
                    font-family: 'db_heavent_regular';
                }
            }
            border-radius: 38px;
            height: 96px;
            // width: 100%;
            background-color: #FFF;
            margin: 8px;
        }
    }
    .butReset{
        text-align: center;
        margin-top: 3rem;
        // width: 100%;
        button {
            cursor: pointer;
            padding: 8px;
            margin: 8px;
            border: none;
            width: 279px;
            height: 50px;
            letter-spacing: 2px;
            border-radius: 18px;
            font-size: 20px;
            color: #FFF;
            background: #1982f3;
        }
    }
    .butReset-dis{
        text-align: center;
        margin-top: 3rem;
        // width: 100%;
        button {
            background: #616161;

        }
    }
    .form-group{
        margin-top: 2rem;
        margin-bottom: 10px;
        padding: 15px;
        // font-size: 26px;
      
        i {
          font-size: 24px;
          padding: 8px;
        }
        input {
            width: 100%;
            margin-bottom: 1rem;
            border-radius: 21px;
            height: 56px;
            // color: #ffffff;
            padding-left: 21px;
            border: none;
            font-family: 'db_heavent_regular';
            // font-family: 'db_heavent_regular';
            font-size: 26px;
            // background: #1982f3;
          }
    }
}