<a class="bi bi-gear" style="font-size: 28px;" href="/"></a>

<h3>selectUsere ({{userTestName}})</h3>
<div class="select-option">
    <button (click)="userTestName = 'Pannatat Saman';queryVitalSign();">Pannatat</button>
    <button (click)="userTestName = 'Pannathon Saman';queryVitalSign();">Pannathon</button>
    <button (click)="userTestName = 'สมเทส สโลบาย';queryVitalSign();">สมเทส สโลบาย</button>
</div>
<h3>selectOption</h3>
<div class="select-option">
    <button (click)="createObject()">createObject</button>
    <button (click)="deleteDoc()">delete</button>
</div>
<h3>selectTitleHeader</h3>
<button (click)="queryTopicWorks()">queryTopicWorks</button>
<div class="select-option" *ngFor="let item of currentTopicWorks;index as i;">
    <button (click)="_selectVitalSign = item;queryVitalSign();">
      {{i+1}}  {{item}}
    </button>
</div>
<h3>Update ({{_selectVitalSign}})</h3>
<div class="select-option">
    <button (click)="queryVitalSign()">queryVitalSign</button>
    <button (click)="updatePushData()">updatePushData</button>
    <!-- <button (click)="updateDeleteObject()">updateDeleteObject</button> -->
</div>
<h3>dataVitalSign ({{_selectVitalSign}})</h3>
<div class="select-option">
    <button (click)="updatePushData()">ADD DATA</button>
    <button (click)="updateDeleteAll()">Delete All</button>
</div>
<div class="select-Temp" *ngFor="let data of dataVitalSign;index as i">
    <button (click)="updateDeleteObject(i)">{{i+1}} . {{data.temp}}</button>
    <div>{{data.date}}</div>
    <div>{{data?.data}}</div>
    <div>id:{{data?.id}}</div>
</div>