<div class="tab-appointment">
    <div class="pl-3 pr-3"
        style="display: flex;justify-content: space-between;">
        <span>กิจกรรมนันทนาการ</span>
        <i class="bi bi-three-dots"></i>
    </div>

    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active" data-interval="4000" >
            <img style="background-size: cover;background-repeat: no-repeat;" src="../../../../../assets/images/icons/home-page-image/test-image/pexels-alena-darmel-7322094.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption">
              <!-- <h3>Los Angeles</h3> -->
              <p>งานสังสรร 21/09/2566</p>
            </div>  
          </div>
          <div class="carousel-item" data-interval="4000">
            <img style="background-size: cover;background-repeat: no-repeat;" src="../../../../../assets/images/icons/home-page-image/test-image/pexels-alena-darmel-7322095.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption">
              <!-- <h3>Los Angeles</h3> -->
              <p>ไหว้พระ 21/11/2566</p>
            </div>  
          </div>
          <div class="carousel-item" data-interval="4000">
            <img style="background-size: cover;background-repeat: no-repeat;" src="../../../../../assets/images/icons/home-page-image/test-image/pexels-kampus-production-8170261.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption">
              <!-- <h3>Los Angeles</h3> -->
              <p>ทำบุญ 26/05/2566</p>
            </div>  
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-target="#carouselExampleIndicators" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-target="#carouselExampleIndicators" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </button>
      </div>
</div>