<div class="container-Splash">
    <div class="header">
        <div class="text-center"><i class="bi bi-heart-pulse"></i></div>
        <div class="font-banner">Elderly Care</div>
        <!-- <div class="font-banner">NJY</div> -->
        <!-- <div class="font-title">"การดูแลที่สมบูรณ์ เท่ากับการรักษา"</div> -->
        <!-- <div class="font-title">"The science of care equals treatment."</div> -->
        <div class="font-title fixed-bottom" style="font-size: 14px;">"Health follow Group สงวนลิขสิทธ์ทุกประการ 2014 - 2023"</div>
        <!-- <div class="font-title fixed-bottom" style="font-size: 14px;">"NJY Group สงวนลิขสิทธ์ทุกประการ 2014 - 2023"</div> -->
    </div>
</div>