<app-back-navbar [topicHeader]="_topicHeader"></app-back-navbar>
<div class="container">
    <div class="tools">
        <button>สร้างกิจกรรม</button>
        <i class="bi bi-arrow-clockwise"></i>
    </div>
    <div class="content">
        <div class="card-activites">
            <div class="title">
                <h3>กิจกรรมโยคะ</h3>
                <h4>เวลา 08:30</h4>
            </div>
            <div class="title">
                <h3>รายละเอียด</h3>
                <p>galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            </div>
            <div class="title">3</div>
        </div>
        <div class="card-activites">
            <div class="title">
                <h3>ไหว้พระ</h3>
                <h4>เวลา 12:30</h4>
            </div>
            <div class="title">
                <h3>รายละเอียด</h3>
                <p>nt here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still</p>
            </div>
            <div class="title">3</div>
        </div>
        <div class="card-activites">
            <div class="title">
                <h3>ทำความสะอาดห้องน้ำ</h3>
                <h4>เวลา 14:20</h4>
            </div>
            <div class="title">
                <h3>รายละเอียด</h3>
                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightl</p>
            </div>
            <div class="title">3</div>
        </div>
    </div>
</div>