@font-face {
    font-family: 'db_heavent_regular';
    src: url('../../../../assets/scss/fonts/DB_Heavent_Cond_v3.2.ttf');
    font-weight: normal;
    font-style: normal;
}

.container-xl {
    background: #F0F2F5;
    height: 100%;

    .content-body {
        width: 100%;
        overflow: scroll;
    }
}