<app-nav-bar [userEmail]="'manager@gmail.com'" [basepath]="pathName"></app-nav-bar>
<div class="tab-insights">
  <div class="alert alert-info">
    <strong>ประกาศ!</strong>ประชาสัมพันธ์ ปี 2024...
  </div>
    <div class="pl-3 pr-3" style="display: flex;justify-content: space-between;font-size: 32px;">
        <span>ตรวจงาน</span>
    </div>
    <div class="manager-group p-2">
        <div class="insight-show" (click)="selectTopicMenu('ตรวจงานสอบงาน')" style="background-image: url(../../../../assets/icons/menu/ตรวจงานจิตใจสังคม.jpg);background-repeat: round;"> 
            <!-- <div class="content-title">
                <div class="title" style="text-align: center;">ส่งเสริมจิตใจและสังคม</div>
            </div> -->
        </div>
        <div class="insight-show" (click)="selectTopicMenu('ตรวจงานสอบงาน')" style="background-image: url(../../../../assets/icons/menu/ตรวจงานสุขภาพร่างกาย.jpg);background-repeat: round;"> 
            <!-- <div class="content-title">
                <div class="title" style="text-align: center;">ส่งเสริมจิตใจและสังคม</div>
            </div> -->
        </div>
        <div class="insight-show" (click)="selectTopicMenu('ตรวจงานสอบงาน')" style="background-image: url(../../../../assets/icons/menu/ความสะอาดทั่วไป.jpg);background-repeat: round;"> 
            <!-- <div class="content-title">
                <div class="title" style="text-align: center;">ส่งเสริมจิตใจและสังคม</div>
            </div> -->
        </div>
    </div>
    <div class="pl-3 pr-3" style="display: flex;justify-content: space-between;font-size: 32px;">
        <span>สร้างงาน</span>
    </div>
    <div class="manager-group p-2">
        <div class="insight-show" (click)="selectTopicMenu('สร้างงานกลุ่ม')" style="background-image: url(../../../../assets/icons/menu/ตรวจงานจิตใจสังคม2.jpg);background-repeat: round;"> 
            <!-- <div class="content-title">
                <div class="title" style="text-align: center;">ส่งเสริมจิตใจและสังคม</div>
            </div> -->
        </div>
        <div class="insight-show" (click)="selectTopicMenu('สร้างงานเฉพาะบุคคล')" style="background-image: url(../../../../assets/icons/menu/ตรวจงานสุขภาพร่างกาย2.jpg);background-repeat: round;">
            <!-- <div class="content-title">
                <div class="title" style="text-align: center;">ส่งเสริมสุภาพร่างกาย</div>
            </div> -->
        </div>
        <div class="insight-show" (click)="selectTopicMenu('งานทั่วไป')" style="background-image: url(../../../../assets/icons/menu/ความสะอาดทั่วไป2.jpg);background-repeat: round;">
            <!-- <div class="content-title">
                <div class="title" style="text-align: center;">งานทั่วไป</div>
            </div> -->
        </div>
    </div>
    
    <div class="pl-3 pr-3" style="display: flex;justify-content: space-between;font-size: 32px;">
        <span>อื่นๆ</span>
    </div>
    <div class="manager-group p-2">
        <div class="insight-show" (click)="selectTopicMenu('กำหนดการต่างๆ')" style="background-image: url(../../../../assets/icons/menu/ประเมินADL.jpg);background-repeat: round;">
        </div>
        <div class="insight-show" (click)="selectTopicMenu('รายงาน')" style="background-image: url(../../../../assets/icons/menu/รายงาน.jpg);background-repeat: round;">
        </div>
        <div class="insight-show" (click)="selectTopicMenu('แจ้งเหตุด่วน')" style="background-image: url(../../../../assets/icons/menu/ตรวจจ่ายยา.jpg);background-repeat: round;">
        </div>
    </div>
    <div class="pl-3 pr-3" style="display: flex;justify-content: space-between;font-size: 32px;">
        <span>นิติบุคคล</span>
    </div>
    <div class="Legal-Entity-group p-2">
        <div class="insight-show" (click)="selectTopicMenu('รายชื่อพนักงาน')" style="background-image: url(../../../../assets/icons/menu/การดูแลและพยาบาล.jpg);background-repeat: round;">
            <!-- <div class="content-title">
                <div class="title" style="text-align: center;">รายชื่อพนักงาน</div>
            </div> -->
        </div>
        <div class="insight-show" (click)="selectTopicMenu('รายชื่อผู้พักอาศัย')" style="background-image: url(../../../../assets/icons/menu/ตรวจงานกิจวัตร.jpg);background-repeat: round;">
            <!-- <div class="content-title">
                <div class="title" style="text-align: center;">รายชื่อผู้พักอาศัย</div>
            </div> -->
        </div>
        <!-- <div class="insight-show" (click)="selectTopicMenu('คะแนนสะสม')">
            <div class="content-title">
                <div class="title" style="text-align: center;">คะแนนสะสม</div>
            </div>
        </div> -->
    </div>
    <!-- <div class="manager-others p-2">
        <div class="insight-show" (click)="selectTopicMenu('สร้างงานเฉพาะบุคคล')">
            <div class="content-title">
                <div class="title" style="text-align: center;">คะแนนสะสม</div>
            </div>
        </div>
    </div> -->
    <!-- <div class="pl-3 pr-3" style="display: flex;justify-content: space-between;font-size: 32px;">
        <span>กำหนกการต่างๆ</span>
    </div>
    <div id="timeline" class="timeline">
      <div class="timeline__item">
        <div class="timeline__item-header">
          <button class="timeline__arrow" type="button" id="item1" aria-labelledby="item1-name" aria-expanded="false" aria-controls="item1-ctrld" aria-haspopup="true" data-item="1">
          </button>
          <span class="timeline__dot"></span>
          <span id="item1-name" class="timeline__meta">
            <time class="timeline__date" datetime="1970-01-01">23 มกราคม 2567</time><br>
            <div class="timeline__title">วันเกิดลุงพล</div>
          </span>
        </div>
      </div>
      <div class="timeline__item">
        <div class="timeline__item-header">
          <button class="timeline__arrow" type="button" id="item1" aria-labelledby="item1-name" aria-expanded="false" aria-controls="item1-ctrld" aria-haspopup="true" data-item="1">
          </button>
          <span class="timeline__dot"></span>
          <span id="item1-name" class="timeline__meta">
            <time class="timeline__date" datetime="1970-01-01">28 มกราคม 2567</time><br>
            <div class="timeline__title">วันเกิดลุงพลี</div>
          </span>
        </div>
      </div>
      <div class="timeline__item">
        <div class="timeline__item-header">
          <button class="timeline__arrow" type="button" id="item1" aria-labelledby="item1-name" aria-expanded="false" aria-controls="item1-ctrld" aria-haspopup="true" data-item="1">
          </button>
          <span class="timeline__dot"></span>
          <span id="item1-name" class="timeline__meta">
            <time class="timeline__date" datetime="1970-01-01">28 มกราคม 2567</time><br>
            <div class="timeline__title">วันเกิดลุงพล 123456789/*8^</div>
          </span>
        </div>
      </div>
    </div> -->