<!-- <app-back-navbar [topicHeader]="_topicHeader"></app-back-navbar>
<div class="container">
    <div class="container tools">
        <button (click)="goToCreateUser()">+ เพิ่ม</button>
        <i (click)="queryEmployee()" class="bi bi-arrow-clockwise"></i>
      </div>
    <div class="content">
        <div class="card-activites">
            <div class="title">
                <h3>กิจกรรมโยคะ</h3>
                <h4>เวลา 08:30</h4>
            </div>
            <div class="title">
                <h3>รายละเอียด</h3>
                <p>galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            </div>
            <div class="title">3</div>
        </div>
        <div class="card-activites">
            <div class="title">
                <h3>ไหว้พระ</h3>
                <h4>เวลา 12:30</h4>
            </div>
            <div class="title">
                <h3>รายละเอียด</h3>
                <p>nt here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still</p>
            </div>
            <div class="title">3</div>
        </div>
        <div class="card-activites">
            <div class="title">
                <h3>ทำความสะอาดห้องน้ำ</h3>
                <h4>เวลา 14:20</h4>
            </div>
            <div class="title">
                <h3>รายละเอียด</h3>
                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightl</p>
            </div>
            <div class="title">3</div>
        </div>
    </div>
</div> -->
<div class="container-em">
    <!-- <button (click)="back()"><i class="bi bi-arrow-left-circle-fill" style="font-size: 48px;color:#6f42c1;"></i></button> -->
    <app-back-navbar [topicHeader]="_topicHeader"></app-back-navbar>
    <div class="container tools">
      <button (click)="goToCreateUser()">+ เพิ่ม</button>
      <i (click)="queryEmployee()" class="bi bi-arrow-clockwise"></i>
    </div>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>userID</th>
        <th>ชื่อ-นามสกุล</th>
        <th>เบอร์ติดต่อ</th>
        <th>วันเกิด</th>
        <th>เพศ</th>
        <th>ประเภท </th>
        <th>การวินิจฉัยทางการแพทย์</th>
        <th>ประวัติการเจ็บป่วยปัจจุบัน</th>
        <th>ประวัติการผ่าตัด</th>
        <th>โรคประจำตัว</th>
        <th>การแพ้ยา</th>
        <th>สิทธิของโรงพยาบาล</th>
        <th>การรักษาในโรงพยาบาลล่าสุด</th>
        <th>ชื่อ-นามสกุล(ผู้จ้าง)</th>
        <th>เบอร์ติดต่อ(ผู้จ้าง)</th>
        <th>ชื่อ-นามสกุล(ญาติ)</th>
        <th>เบอร์ติดต่อ(ญาติ)</th>
        <th>หมายเหตุ</th>
        <th>เข้าเมื่อ</th>
        <th></th>
      </tr>
    </thead>
    <tbody *ngFor="let dataem of currentEmployee;">
      <tr>
        <td>{{dataem.username}}</td>
        <td>{{dataem.name}}</td>
        <td>{{dataem.mobileNo}}</td>
        <td>{{dataem.birthday}}</td>
        <td>{{dataem.optradio}}</td>
        <td>{{dataem.residentType}}</td>
        <td>{{dataem.medicalDiagnose}}</td>
        <td>{{dataem.currentIllness}}</td>
        <td>{{dataem.surgeryHistory}}</td>
        <td>{{dataem.congenitalDisease}}</td>
        <td>{{dataem.drugAllergy}}</td>
        <td>{{dataem.hospitalRights}}</td>
        <td>{{dataem.LatestHospitalTreatment}}</td>
        <td>{{dataem.nameEmployer}}</td>
        <td>{{dataem.mobileNoEmployer}}</td>
        <td>{{dataem.nameRelative}}</td>
        <td>{{dataem.mobileNoRelative}}</td>
        <td>{{dataem.comment}}</td>
        <td>{{dataem.movingIn}}</td>
        <td><button type="button" class="btn btn-warning" (click)="goToUpdateUser(dataem)">แก้ไข</button></td>
        <td><button type="button" class="btn btn-danger" data-toggle="modal" data-target="#DeleteUser"
            (click)="deleteUser(dataem)">ลบ</button></td>
      </tr>
    </tbody>
  </table>
  
  
  <!-- The Modal -->
  <div class="modal fade" id="DeleteUser">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">ยืนยันการลบข้อมูล</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
          ชื่อ : {{selectUser.name}}
          <br>
          id : {{selectUser.employeeId}}
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">ไม่</button>
          <button type="button" class="btn btn-success" data-dismiss="modal" (click)="deleteDoc()">ใช้</button>
        </div>
  
      </div>
    </div>
  </div>