<app-back-navbar [topicHeader]="_topicHeader"></app-back-navbar>
<div class="container-em">
  <!-- <button (click)="back()"><i class="bi bi-arrow-left-circle-fill" style="font-size: 48px;color:#6f42c1;"></i></button> -->
  <div class="dropdown filter">
    <button type="button" class="dropdown-toggle" style="background: none;border: none;" data-toggle="dropdown">
      หมวด : {{_selcetCategory}}
    </button>
    <div class="dropdown-menu">
      <span *ngFor="let item of category;" class="dropdown-item-text" (click)="selectCategory(item)">{{item}}</span>
    </div>
  </div>
  <div class="tools">
    <button class="create" (click)="goToCreateUser()">สร้าง</button>
    <i (click)="selectCategory('ทั้งหมด')" class="bi bi-arrow-clockwise"></i>
  </div>
</div>
<div class="card">

  <div *ngFor="let dataem of currentEmployee;">
    <div class="card-body" *ngIf="dataem.activitieID[0] === 'A'">
      <div class="card-title">
        <h3 class="card-text">
          <b>ชื่องาน</b> : {{dataem.ActivityName}} <br>
        </h3>
        <h5 class="card-text">
          <b>ID</b> : {{dataem.activitieID}} <br>
          <b>สถานะ</b> : ({{dataem.status}}) <br>
          <b>หมวดหมู่</b> : ({{dataem.ActivityCategory}}) <br>
          <b>ประเภท</b> : {{dataem.ActivityType}} <br>
          <b>รายละเอียด</b> : {{dataem.Description}}<br>
          <b>หมายเหตุ</b> : {{dataem.comment}}<br>
          <b>ผู้สั่ง</b> : {{dataem.owner}}<br>
        </h5>
      </div>
      <div class="card-tool">
        <button type="button" class="btn btn-warning" (click)="goToUpdateUser(dataem)">แก้ไข</button>
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#DeleteUser"
          (click)="deleteUser(dataem)">ลบ</button>
      </div>
    </div>
  </div>
</div>


<!-- The Modal -->
<div class="modal fade" id="DeleteUser">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">ยืนยันการลบข้อมูล</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        ชื่อ : {{selectUser.ActivityName}}
        <br>
        id : {{selectUser.activitieID}}
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">ไม่</button>
        <button type="button" class="btn btn-success" data-dismiss="modal" (click)="deleteDoc()">ใช้</button>
      </div>

    </div>
  </div>
</div>